<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/index">INDEX</a></li>
            <li><a href="/createAccount">Create Account</a></li>
            <li><a href="/logIn">Log In</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/getAllEvents">My events</a></li>
            <li><a href="/createEvent">Create Event</a></li>
            <li><a href="/getEvent">Research one event</a></li>
            <li><a href="/getUser">Reseach one user</a></li>
            <li><a href="/getUserList">All users</a></li>
            <li><a href="/getEventList">All events</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>

</div>
</nav>
