<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Projet de fin d'étude </title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="C:/Users/Gabriel/Documents/GitHub/PFE_Prototype_1/dist/css/bootstrap.css" rel="stylesheet">
<link href="C:/Users/Gabriel/Documents/GitHub/PFE_Prototype_1/dist/css/style.css" rel="stylesheet">
