<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>

</header>


<main>

<div class="main">

  <% for(var i=0; i < eventList.length; i++) { %>
    <form action="/getOneEvent" method="post" name="submit_id" id="<%= i %>" >

    <input type="hidden" name="_id" id="_id" value=<%= eventList[i]._id %> readonly  /><br/>

    <label>Event name :</label><br/>
    <input type="text" name="name" id="name" value="<%= eventList[i].name %>" readonly /><br/>

    <label>Description :</label><br/>
    <input type="text" name="description" id="description" value='<%= eventList[i].description %>' readonly /> <br/>

    <button onclick="submit_by_id();"> Cliquez </button>

    </form>
  <% } %>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
