<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
  <% include ../partials/header %>

  </header>

<main>
  <form action="/getOneEvent" method="post">
            <p>
                <label for="name">Event Id: </label>
                <input type="text" name="name" id="name" autofocus />
                <input type="submit" />
            </p>
  </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
