<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/event.css" rel="stylesheet">
</head>
<body class="container">

  <header>
  <% include ../partials/header %>

  </header>

<main>
  <form action="/getUsername" method="get">
                <label for="username">User name: </label>
                <input type="text" name="username" id="username" autofocus />
                <input type="submit" />
  </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
