<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/signin.css" rel="stylesheet">
</head>
<body class="container">

  <header class="row">
  <% include ../partials/header_log_in %>
  </header>


  <div class="row">
    <nav class="col-lg-2">
      Menu
    </nav>
    <section class="col-lg-10">
      Mais qu’est-ce que la forme d’un texte ? Non pas la surface et l’apparence contre ce qui serait de l’ordre de l’essentiel, quelque part « au cœur ». Non pas l’instrument et le médium (linguistique, verbal, énonciatif…) contre ce qui serait le matériau solide de la signification. Non pas même la manière dont une pratique scripturale s’individualise. Mais quelque chose de plus mouvant et de plus décisif, peut-être : la façon dont une lecture et/ou une écriture marque, construit un dispositif textuel (construit le texte en dispositif, le cadastre, le repère), ou, ce qui revient au même, la façon dont un dispositif textuel est activé, calculé, dans une dynamique3. Une histoire d’allées et venues en somme, un lacis de parcours, comme nous le dit Gracq, dont il est vrai également qu’ils sont très généralement articulés autour de quelques axes directeurs.
    </section>
  </div>

</body>
<footer>
    <% include ../partials/footer %>
</footer>


</html>
