<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
  <% include ../partials/header %>

  </header>

<footer>
    <% include ../partials/footer %>
</footer>

<main>
  <form action="/" method="post">
            <p>
                <label for="logmail">Email: </label>
                <input type="text" name="logmail" id="logmail" autofocus />
                <label for="logpassword">Password: </label>
                <input type="text" name="logpassword" id="logpassword" autofocus />
                <input type="submit" />
            </p>
  </form>
</main>

</body>
</html>
